---
Checks:          '*,-readability-magic-numbers,-modernize-use-trailing-return-type,-misc-non-private-member-variables-in-classes,-modernize-avoid-c-arrays,-altera-*,-cppcoreguidelines-*,-llvmlibc-*,-fuchsia-*,-google-*,-hicpp-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     file
CheckOptions:
